* {
  margin: 0;
}

.body {
  background-image: url("src/assets/pexels-pixabay-235985.jpg");
  height: 100vh;
}
.title {
  background-color: black;
  margin-bottom: 50px;
}
h1 {
  color: white;
  text-align: center;
  padding: 30px;
}
button {
  background-color: rgb(26, 47, 48);
  padding: 20px;
  border: none;
  color: white;
  border-radius: 20px;
}
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2,h5 {
  font-style: italic;
  text-align: center;
  padding: 15px;
}
.quote-gen {
  padding: 50px;
  background-color: aliceblue;
  margin-top: 50px;
}